<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/forgotpassword.js"></script>
    <meta charset="UTF-8">
    <title>Forgot Password Change</title>
</head>
<body>

<div class="container">
    <form accept-charset="UTF-8" action="/forgotpwd" enctype="multipart/form-data" method="post" novalidate="novalidate">
    <label>Eamil Address:</label>
        <input id ="Email_forgot" name="user_email" value ="{{useremail}}" placeholder="{{useremail}}"readonly="value">
    <p>New Password:</p>
        <input id="newpassword_forgot" name="user[password_forgot]" required="required" size="50" type="password"
        onchange="isValidPassword()" onkeydown="cleanSpacepwdfirst()">
        <p id ="space"></p>
    <p>Please Input password Again:</p>
        <input id="passwordconfirm" required="required" size="50" type="password"
        onchange="reCheckpassword()" onkeydown="cleanSpacepwdscond()">
        <p id ="re-space"></p>
        <button type = "submit" > Comfirm </button>
    </form>
</div>
<p id = "{{message}}"> </p>
</body>

</html>