<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap-editable.css">
    <script src="../../static/js/bootstrap-editable.js"></script>
    <style>
        .some_class {
            width: 480px;
        }
    </style>

</head>
<body style="background: #f1f3f3">
<div class="container-fluid">
    <h1 class="text-center">User Profile Modification</h1>
        <form class="form-horizontal" role="form" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2">ID:</label>
                 <div class="col-sm-10">
                     <label class="control-label col-md-1" name ="userid">{{id}}</label>
                 </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="email" name="email" type="text" value={{email}}>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">FirstName:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="firstname" name="firstname" type="text" value={{firstname}}>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2">LastName:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="lastname" name="lastname" type="text" value={{lastname}}>
                </div>
            </div>

            <div class="form-group">
                <label for="u_isadmin" class="control-label col-sm-2">Is Admin:</label>
                <div class="col-sm-10">
                    {% if is_admin %}
                    <input id="u_isadmin" name="u_isadmin" type="checkbox" checked>is_amdin</input>
                    {%else%}
                    <input id="u_isadmin_no" name="u_isadmin" type="checkbox" >is_amdin</input>
                    {%endif %}
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-success" onclick="self.location=document.referrer;">Back</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>