
.is-editor{
    	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100% !important;
/* font:inherit; */
	vertical-align: baseline;
	line-height: 1
}

.is-editor #content h1{
        font-size: 22px;
	line-height: 1.4em;
/* 	margin: 20% 0; */
}

.is-editor #content h2{
        font-size: 22px;
	line-height: 1.4em;
/* 	margin: 10% 0; */

}

@media screen and (min-width:48em) {
	.is-editor #content h1 {
		font-size: 32px;
/* 		margin: 10% 0 */
	}
}

@media screen and (min-width:60em) {
	.is-editor #content h1 {
		font-size: 42px;
/* 		margin: 13% 0 */
	}
}


.is-editor .landing-question .container{
    padding: 80px !important;
}

#btn-goto-storyboard {
    display: none;
}

.faded .panel {
    border-style: dashed !important;
    border-width: 2px !important;

}

.faded {
    opacity: 0.5 !important;
}

.faded:hover {
    opacity: 1 !important;
}

.step-panel:hover {
    cursor: pointer !important;
    border-width: 2px !important;
}

#content .row {
	margin-right: -15px;
	margin-left: -15px
}

#steps-container {
	margin-right: -15px;
	margin-left: -15px
}

.col-xs-6{
	float: left;
	width: 50%
}


@media (min-width:768px) {
	.col-sm-3{
		float: left;
            width: 25%;
	}

}
@media (min-width:992px) {
	 .col-md-2{
		float: left;
		width: 16.66666667%

	}

}

.panel {
	margin-bottom: 20px!important;
    margin-right: 8px !important;
	background-color: #fff;
	border: 1px solid transparent !important;
	border-radius: 4px !important;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05)!important;
}

.panel-body {
	padding: 15px !important;
}

.panel-heading {
	padding: 10px 15px !important;
	border-bottom: 1px solid;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}
.panel-heading>.dropdown .dropdown-toggle {
	color: inherit !important;
}

.panel-default {
	border-color: #ddd !important;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}

#pocket-player {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
}


.pocket-player-track {
    color: #4babde;
    cursor: pointer;
}

.pocket-player-track:hover {
    text-decoration: underline;
}

.step-quote {
    font-style: italic;
}




#content .btn-xs, #btn-new-widget{
    font-family: 'FontAwesome' !important;
    color: inherit;
border: 2px solid darkgray;
    margin: 5px;


}

.is-editor .btn.btn-group.col-xs-5.col-sm-2{
    border: none;
}

#content #playBtn {
    border:none !important;
    width: 50px;
    height: 50px;

}



.modal-open {
    overflow: hidden;
}

#content .modal {
   position: fixed !important;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    font-size: 18px;
	margin-bottom: 1em
}

#content .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

#content .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

#content .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

#content .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

#content .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px !important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0 !important;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5 !important;
}

.modal-header {
    padding: 15px !important;
    border-bottom: 2px solid #e5e5e5 !important;
}

.modal-header .close {
    margin-top: -2px !important;
}

.modal-title {
    margin: 0 !important;
    line-height: 1.42857143 !important;
}

.modal-body {
    position: relative !important;
    padding: 15px !important;
}

.modal-footer {
    padding: 15px !important;
    text-align: right !important;
    border-top: 1px solid #e5e5e5 !important;
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px !important;
        margin: 30px auto !important;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }

    .modal-sm {
        width: 300px !important;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px !important;
    }
}



.is-editor .modal .close{
    position: relative;
	top: -2px;
/* 	right: -21px; */
	color: inherit;
    float: right;

	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2
}

.is-editor .modal .close:focus, .is-editor .modal .close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5
}

.is-editor .modal button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0
}

#content .modal-body input{
    border: 2px solid darkgray;
    color: black !important;
	padding-left: 10px !important;
    margin-top: 10px;
}

#content textarea{
     border: 2px solid darkgray;
    color: black !important;
	padding-left: 10px !important;
    margin-top: 10px;
    font-size: 1em;
}

#content .btn.mint, #content .btn.gray, #btn-goto-storyboard{
    font: inherit;
}

#content select{
	 background: whitesmoke;
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  -webkit-transition: all 0.2s linear;
  font-size: 15px;
  color: #222222;
	padding: 5px 10px;
    margin:20px;
}

#content option{
		 background: whitesmoke;
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  -webkit-transition: all 0.2s linear;
/*   font-family: "Helvetica Neue", sans-serif; */
  font-size: 15px;
  color: #222222;
  height: 30px;
/*   width: 40px; */
  overflow: hidden;
	padding: 5px;
	margin: 5px 0px;
}

#content .col-md-6{
    float: left;
    clear: both;
    width: 100%;
    margin: 10px auto;
}

.is-editor h4{
    font-size: 18px !important;
}

#content .input-group .form-control{
     float: left;
	width: 65%;
    	background-color: lightgrey;
	border-color: darkgray;
	color: black;
    height: 40px;
    padding: 0px;
    padding-left: 10px;
}

#content .input-group .btn-search{
    	float: left;
	width: 20% !important;
    height: 40px;
	margin-left: 15px;
    background-color: lightgrey;
	border-color: darkgray;

	color: black;
}

#content .input-group{
	width: 65%;
    margin: 5px auto;

}

#content li:hover{
     cursor: pointer !important;
/*     border-width: 2px !important; */
    border: 2px solid darkgray;
    opacity: 0.7;
}

#content li:active{
     cursor: pointer !important;
/*     border-width: 2px !important; */
    border: 2px solid darkgray;
    opacity: 1;
    top: 2px;
    position: relative;
}

#content li{
	float: left;
	clear: left;
/* 	display: table-row; */
	border: 1px solid;
	width: 100% !important;
	height: 40px;
	margin-top: 5px !important;
	background-color: lightslategray;
	color: white;
	padding-top: 10px !important;
    padding-left: 15px;
}
#content .col-md-4{
    float: left;

}

#content .col-md-2{
    float: left;
}

#content .col-md-2 .btn.mint{
    	padding: 10px 10px;
    margin:20px;
    width: 100%;
}

#content .modal-body .form-group{
    margin-bottom: 20px;
}
