<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/activity.css" />
    <link href="/static/css/emPlayer.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: #f1f3f3">

<div class="container">
    {% block header %}
{% endblock header %}
    <div id="content">
        </div>

</div>

</body>
{% block adminMode %}
    <script>
    admin_mode = false;
    </script>{% endblock adminMode %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
<script src="/static/js/activity/page_handler.js"></script>
<script src="/static/js/question/viewer.js"></script>
<script src="/static/js/activity/widgets.js"></script>
<script src="/static/js/activity/viewer.js"></script>

</html>